[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
sweetviz = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pingouin = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.12"
