body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black; /* Fallback background color */
}

header {
    position: fixed;
    top: 20px; /* Espaçamento superior */
    left: 40px; /* Espaçamento esquerdo */
    right: 40px; /* Espaçamento direito */
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icon img {
    width: 32px; /* Tamanho do ícone */
    height: 32px; /* Tamanho do ícone */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.5s, border-radius 1s ease-in-out;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

/* Vídeo de fundo */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1; /* Certifique-se de que o conteúdo não sobreponha a navbar */
    color: white;
    text-align: left; /* Alinha o texto à esquerda */
    width: 40%;
    margin: 0 10em;
    padding-top: 200px; /* Ajuste conforme necessário para empurrar o conteúdo para baixo */
}

.content h1 {
    font-size: 3em;
    width: 100%; /* Aumenta a largura do h1 */
    margin-left: 0; /* Posiciona o h1 mais para a esquerda */
    line-height: 1.3; /* Ajusta o espaçamento entre linhas */
}

.content p {
    font-size: 1.5em;
}
